<center><h2><%=@user.username%>'s Favorites</h2></center>
<% @array = [] %>

<% @favs.each do |f| %>
<% @array.push(f.title) %>
<%end%>

<center><b>Random Favorite:</b> <%= @array.sample() %></center>
<hr>
<div class="pop_wrap">
<% @favs.each do |f|%>
<div class="pop">
<a href="/favorites/<%=f.id%>"><%= f.title %></a><br>
<%= image_tag (@configuration.base_url+@configuration.poster_sizes[2]+f.poster) %>
</div>
<% end %>
</div>
