<center><h2><%=@user.username%>'s Favorites</h2></center>
<% @array = [] %>

<% @favs.each do |f| %>
<% @array.push(f.title) %>
<%end%>

<div class="favs">
<center><b>Random Favorite:</b> <%= @array.sample() %></center>
<hr>
<% @favs.each_with_index do |f, index|%>
<%= index +1%>. <a href="/favorites/<%=f.id%>"><%= f.title %></a><br>
<% end %>
</div>