<center><h2><%= @fav.title %></h2></center>
<div class="watched_movies"><img src="https://image.tmdb.org/t/p/w200<%= @fav.poster %>"></img>
<b>Overview:</b> <%= @fav.overview%><br>
<b>Notes:</b> <%= @fav.notes%><hr>
<%= link_to "Add Notes", edit_favorite_path %> •
<%= link_to "Go Back", :back %></div>
