<center><h2><%= @user.username %>'s Watched List</h2></center>
<div class="watched_wrapper"><div class="watched_movies">
<div class="watched_movies_head"><h3>Movies</h3></div>
<% sorted = @watched.all.order(:title) %>
<% sorted.each do |w| %>
<a href="/watcheds/<%=w.id%>"><%= w.title %></a><br>
<%= w.overview %>
<%= form_for :favorite, url:{action: 'favorite', controller: 'watcheds'} do |f|%>
<%= hidden_field_tag "title", w.title%>
<%= hidden_field_tag "overview", w.overview %>
<%=hidden_field_tag "poster", w.poster%>
<%= f.text_field :notes, :placeholder=> "notes" %>
<%= f.submit "favorite" %>
<% end %>
<hr>
<% end %></div>

<div class="watched_shows">
<div class="watched_shows_head"><h3>TV Series</h3></div>
<% sorted_show = @watched_show.all.order(:title) %>
<% sorted_show.each do |s| %>
<a href="/watched_shows/<%=s.id%>"><%= s.title%></a><br>
<%= s.overview%>
<%= form_for :favorite, url:{action: 'favorite', controller: 'watcheds'} do |f|%>
<%= hidden_field_tag "title", s.title%>
<%= hidden_field_tag "overview", s.overview %>
<%= hidden_field_tag "poster", s.poster%>
<%= f.text_field :notes, :placeholder=> "notes" %>
<%= f.submit "favorite" %>
<% end %>
<hr>
<% end %></div></div>
