<center><h2><%= @movie.title%></h2></center>
<div class="watched_showpage_wrapper">
<div class="watched_showpage_movies">
<%= image_tag (@configuration.base_url+@configuration.poster_sizes[1]+@movie.poster) %>
<b>Overview:</b> <%= @movie.overview%><br>
<b>Notes:</b> <%= @movie.notes%><br>
<hr>
<a href="http://www.themoviedb.org/movie/<%=@movie.tmdb_id%>" target="_blank">The Movie Database Page</a> •
<%= link_to "Add Notes", edit_watched_path %> • 
<%= link_to "Go Back", :back %>
</div>
<center><h3>Similar to <%=@movie.title%></h3></center>
<div class="recs_wrapper">
<% @recs.each do |r| %>
<div class="recs">

<%= image_tag(@configuration.base_url+@configuration.poster_sizes[0]+r.poster_path) %>

<a href="http://www.themoviedb.org/movie/<%=r.id%>" target="_blank"><%= r.title %></a><br>
<%= r.overview %><br>
<% if signed_in? %>
<%= form_for :watched, url:{action: 'assign', controller: 'watcheds'} do |f| %>
<%= hidden_field_tag "title", r.title %>
<%= hidden_field_tag "tmdb_id", r.id.to_s %>
<%= hidden_field_tag "poster", r.poster_path%>
<%= hidden_field_tag "overview", r.overview%>
<%= f.text_field :notes, :placeholder=> "notes" %>
<%= f.submit "watched" %>
<% end %>
<%= form_for :want_movies, url:{action: 'list_movie', controller: 'want_movies'} do |f| %>
<%= hidden_field_tag "title", r.title %>
<%= hidden_field_tag "tmdb_id", r.id.to_s %>
<%= hidden_field_tag "overview", r.overview%>
<%= hidden_field_tag "poster", r.poster_path%>

<%= f.text_field :notes, :placeholder=> "notes" %>
<%= f.submit "want" %>
<% end %>
<% end %>
</div>
<% end %>
</div>