<center><h2><%= @show.title %></h2></center>
<div class="watched_movies"><b>Overview:</b> <%= @show.overview%><br>
<b>Notes:</b> <%= @show.notes%><br>
<a href="https://www.themoviedb.org/tv/<%=@show.tmdb_id%>" target="_blank">The Movie Database Page</a>
<hr>
<%= link_to "edit show", edit_watched_show_path %>
<br><%= link_to "back", :back %></div>