<center><h2>Want to Watch: <%= @movie.title%></h2></center>
<div class="watched_movies">
<%= image_tag (@configuration.base_url+@configuration.poster_sizes[1]+@movie.poster) %>
<b>Overview:</b> <%= @movie.overview%><br>
<b>Notes:</b> <%= @movie.notes%><br>
<hr>
<a href="http://www.themoviedb.org/movie/<%=@movie.tmdb_id%>" target="_blank">The Movie Database Page</a> •
<%= link_to "Add Notes", edit_want_movie_path %> •
<%= link_to "Go Back", :back %>
</div>
