<center><h3>Want to Watch <%= @show.title %></h3></center>
<div class="watched_shows">
<%= image_tag (@configuration.base_url+@configuration.poster_sizes[1]+@show.poster) %>
<b>Overview:</b> <%= @show.overview%><br>
<b>Notes:</b> <%= @show.notes%><br><hr>
<a href="http://www.themoviedb.org/tv/<%=@show.tmdb_id%>" target="_blank">The Movie Database Page</a> •
<%= link_to "Add Notes", edit_want_show_path %> •
<%= link_to "Go Back", :back %></div>

